/*this is the styles folder for Practice
		**Contents**
		|**Main Layout**|
		   *main styles*
		   *box styles*
			
*/


/***************************
	Main Layout	
***************************/

/*main styles*/

p{
	color: #fff;
}

h1{
	margin: 0 auto; 
	width: 300px;
	text-align: center;
}

/*box styles*/
#box-1{
	width:300px;
	height: 300px;
	margin: 0 auto; 
	margin-top: 10px;
	background-color: #000;
}

#border{
	border: 10px dotted red;
	width:300px;
	height: 300px;
}

